// 1.Config
$border-radius: 8px;
$btn-height: 78px;
$btn-width: 358px;

// 2.Base
.m-btn {
  display: block;
  height: $btn-height;
  width: $btn-width - 100;
  border-radius: $border-radius;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  vertical-align: middle;
  font-family: $font-multi;
  line-height: $btn-height;
  border: 1px solid $pink-border;
  margin: 50px auto 30px;
  text-shadow: 0 0.5px 0.5px rgba(8, 8, 8, 0.35);
  font-weight:  500;
  font-size: 20px;
  touch-action: manipulation;
  transition:  background 0.4s ease;
  @include transition(all .2s linear);
  @include mq(tablet){
    width: $btn-width;
      font-size: 25px;
  }
}

.btn-darkpink {
  background: #e34b8d;
  background: -moz-linear-gradient(top,  #e34b8d 0%, #ff57a2 100%);
  background: -webkit-linear-gradient(top,  #e34b8d 0%,#ff57a2 100%);
  background: linear-gradient(to bottom,  #e34b8d 0%,#ff57a2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e34b8d', endColorstr='#ff57a2',GradientType=0 );
  background-image: linear-gradient(to top, #ff57a2, #e34b8d);
	box-shadow: 0 4px 6px 0 rgba(109, 26, 63, 0.17);

  &:hover {
    background-image: linear-gradient(to top, #e34b8d, #ff57a2);
    border-color: darken($dark-pink, 10);
  }
}

.btn-pink{
  background: $light-pink;
	box-shadow: 0 4px 6px 0 rgba(109, 26, 63, 0.17);

  &:hover {
    background:$dark-pink;
  }
}

.m-btn_sales__btn {
  width: 90%;
  margin: 20px auto 0;
  @include mq(phone){
    margin: 0 auto;
  }
}

.m-btn_ads__btn {
  border-radius: 4px;
  width: 140px;
  height: 46px;
  margin: 0 auto;
  font-size: 16px;
  line-height:  46px;
  text-transform: lowercase;
}
