// 1.Config




// 2.Base

.m-herounit {
  margin-top: $header-height;
  padding-bottom:  $header-height;
}

.m-hero_intro {
  @extend %clearfix;
  margin: 0 auto;
  width: 235px;
  margin-top: ($header-height);
  margin-bottom: 40px;
  @include mq(phone){
    margin-top: ($header-height + 20);
    width: 375px;
  }
  @include mq(tablet){
    width: 650px;
  }


  h2 {
    span {
      @include mq(phone){
        display: block;
        padding-top: 6px;
      }
      @include mq(tablet){
        padding-top: 30px;
      }
    }
  }
}

.m-hero_chrome {
  float: left;
  width: 50px;
	height: 50px;
  margin-left: -15px;
	object-fit: contain;
  @include mq(tablet){
    width: 141px;
    height: 141px;
  }

}

.m-hero_center {
  @extend %clearfix;
  margin: 0 auto;
  width: 95%;
  @include mq(phone){
    width: 375px;
  }
  @include mq(tablet){
    width: 550px;
  }
  h4 {
    @extend %clearfix;
    margin-top: 20px;
    @include mq(tablet){
      margin-top: 40px;
    }

    span {
      margin-top: -2px;
      display: block;
      float: left;
      width: 75%;
      @include mq(phone){
        width: inherit;
        float: none;
        display: inline;
      }
    }
    b {
      display: block;
      float: left;
      @include mq(phone){
        width: inherit;
        float: none;
        display: inline;
      }
    }
  }
}

.m-hero_save{
  text-align: center;
  font-size: 16px;
  @include mq(tablet){
    font-size: 22px;
  }

}

.m-hero_currancy{
  font-family: $font-multi;
  color: $yellow;
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.3px;
  @include mq(tablet){
    font-size: 44px;
  }

}

.m-hero_support{
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: $white;
  @include mq(tablet){
    margin-top: 60px;
  }
}

.m-hero_checkicon {
  width: 30px;
  height: 20px;
  object-fit: contain;
}
