// 1.Config


// 2.Base

// Stores Block
.l-blocks-stores {
  background: $white;
  background: linear-gradient(to bottom,  #ffffff 0%,#cdcdcd 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd',GradientType=0 );
  background: linear-gradient(to top, #cdcdcd, $white);
  min-height: 326px;

  h3 {
    margin: 30px auto 20px 0;
    text-align: center;
    @include mq(phone){
      margin: 40px auto 40px 0;
    }
    @include mq(tablet){
      margin: 60px auto 60px 0;
    }
  }
}

.l-blocks-stores__list {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    float: left;
    margin: 20px 0;
    width: 50%;
    height: 52px;
    @include mq(phone){
      width: 33.3333%;
    }
    @include mq(desktop){
      width: 16.6666%;
    }


    img {
      display:  block;
      max-height: 52px;
      overflow: hidden;
      margin: 0 auto;
    }
  }
}

// Quote Block
.l-blocks-quote {
  min-height: 200px;
  background: $blockbg;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(tablet){
    min-height: 400px;
  }

  img {
    height: 85px;
    @include mq(tablet){
      height: 180px;
    }
  }

}


// Sales Block
.l-blocks-sales {
  background: $white;
  mix-height: 430px;
  padding: 50px 0;

  p {
    font-size: 18px;
    margin-top: 18px;
    color: #999999;
  }
}
.l-block_flex  {
  display: table-cell;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  @include mq(desktop){
    display: flex;
  }
 > div {
   flex: 1 100%;
    @include mq(phone){
      flex: 2 50%;
    }
 }
 .l-block_flex__content {
   order: 1;
   text-align: center;
   @include mq(phone){
     text-align: center;
      order: 2;
   }
   @include mq(desktop){
     text-align: left;
   }
 }
 .l-block_flex__img {
   order: 2;
   @include mq(phone){
      order: 1;
   }
 }
 .l-block_flex__btn {
  order: 3;
  flex:2;
  margin: 0 auto;

  @include mq(phone){
    flex: 2;
    max-width: 50%;
    margin: 0 auto;
  }

@include mq(desktop){
  margin: 0;
}
 }
}

.l-block_flex__img{
  img {
    display: block;
    margin: 0 auto;
    max-height: 300px;

  }
}

// Save block

.l-blocks-save {
  @extend .l-blocks-quote;
}
