// 1.Config


// 2.Base

.l-constrained {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include mq(desktop) {
    max-width: 1110px;
  }

  &.l-fluid {
    @include mq(desktop) {
      max-width: inherit;
    }
  }
}
.l-row {
  @extend %clearfix;
  //margin: $grid-padding;
}

.l-col {
  @include mq(tablet) {
    float:  left;
  }
}

.l-hidecase1 {
  display: none;
  @include mq(desktop) {
    display: block;
  }

}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
