
// Colors
$aqua-blue: #00d4e7; // bg
$dark-blue: #00b9d5; // nav select
$sky-blue: #00cbe9; // nav bg
$yellow: #f8e81c; // yellow text
$white: #ffffff; // white
$black: #4a4a4a; // black text
$darkblack: #343434; //dark black
$dark-pink: #f95aa0; // btn pink dark color
$light-pink: #ef65a0; //  btn pink lighter color
$pink-border: #ee5797; // pink border
$blockbg: #6dd9e9; //blue block bg
$footer-bg: #00b2cc; //footer dark blue bg color
$footer-mainbg: #00c8e5; //footer main bg color



// Fonts
$body-font: "Roboto",sans-serif !default;
$body-font-weight: 500 !default;
$body-font-size: 15px !default;
$body-font-color: $white !default;
$body-font-style : normal !default;
$font-montserrat: "Montserrat",sans-serif !default;
$font-open :  'Open Sans', sans-serif !default;
$font-multi : "Multicolore",sans-serif !default;

@font-face {
  font-family: 'Multicolore';
    src:  url('../fonts/Multicolore.ttf.woff') format('woff'),
    url('../fonts/Multicolore.ttf.svg#Multicolore') format('svg'),
    url('../fonts/Multicolore.ttf.eot'),
    url('../fonts/Multicolore.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



// Misc
$link-color: $white !default;
$header-height: 50px;

// Use with @extend %clearfix;
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Grid variables
$max_columns: 12;
$grid-padding: 0 15px;
$gutter_px: 0;
$gutter_pc: 0;
// Media Query
@mixin mq($mq) {
   @if $mq == smphone{
    @media (min-width: 320px) {
       @content;
    }
  }
  @if $mq == phone {
     @media (min-width: 480px){
      @content;
    }
  }
  @if $mq == tablet {
     @media (min-width: 768px){
      @content;
    }
  }
  @if $mq == desktop {
     @media (min-width: 992px){
      @content;
    }
  }
  @if $mq == wide {
     @media (min-width: 1200px){
      @content;
    }
  }
  @if $mq == retina {
     @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx){
      @content;
    }
  }
}

//Image url
$url : "../images/_common";

//img BG mixer for Retina and default
@mixin background-image-retina($file, $type) {
  background-image: url($url + '/' + $file + '.' + $type);
    @include mq(retina) {
      background-image: url($url + '/' + $file + '@2x.' + $type);
    }
}

// Transition
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
