// 1.Config
$footer-hightligh-hight : 120px;
$footer-copyright-hight: 62px;
// 2.Base

.footer{
  background: $footer-mainbg;
}

.footer__copyright {
  background: $footer-bg;
  min-height: $footer-copyright-hight;

  p {
    display: none;
    color: $white;
    padding: 10px 0 22px;
    font-size: 12px;
    opacity: 0.8;
    @include mq(tablet){
      display: inline-block;
      padding: 0;
      line-height: $footer-copyright-hight;
      text-align: right;
    }
  }

}
.footer-highlight {
  background: $footer-bg;
  height: $footer-hightligh-hight;

  h6 {
    width: 70%;
    float: left;
    line-height: $footer-hightligh-hight;
  }
  .m-btn_ads__btn {
    float: left;
    margin: (($footer-hightligh-hight/2) - (46/2)) auto 0 ;
  }
}

.footer__logo {
  width: 100%;
  margin: 30px 0;

  img {
    height: 95px;
  }
}

.footer__social {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 20px;
  }

  a {
    font-size: 20px;
  }

}


// Download Btns
.footer-download_btn {
  margin: 45px auto 0;
  padding: 0;
  float: none;
  text-align: center;

  @include mq(tablet) {
    float: right;
  }

  li {
    display: inline-block;
    position: relative;
    background: #4dd9ed;
    border-radius: 5px;
    font-size: initial;
    padding: 20px 15px 20px 75px;
    position: relative;
    width: 180px;
    margin: 0 15px 15px 0;
    cursor: pointer;


    span {
      display:  block;
    }
    .fa {
      background: $white;
      border-radius: 50%;
      color: #00b2cc;
      font-size: 26px;
      height: 48px;
      left: 14px;
      line-height: 48px;
      position: absolute;
      text-align: center;
      top: 17%;
      width: 48px;
      transition:  background 0.4s ease, color 0.3s linear;
    }

    &:hover {
      background: $aqua-blue;

      .fa {
        background: $sky-blue;
        color: $white;
      }
    }

    &.l-hidecase1 {
      display: none;
      @include mq(desktop) {
        display: inline-block;
      }
    }
  }
}


// footer menu
.footer_links {
  padding: 0;
  margin: 45px  0;
  list-style: none;


  li {
    padding: 11px 0;

    @include mq(phone){
      display: inline-block;
      width: 47%;
    }
    @include mq(tablet){
      display: inline-block;
      width: 24%;
    }

    a {
      font-size: 16px;
      transition:  color 0.4s ease;

      &:hover{
        color: $darkblack;
      }
    }
  }
}

.footer__copyright-nav {
  list-style: none;
  padding: 0 0 10px 0;
  margin: 15px 0 0;
  @include mq(tablet){
    padding-bottom: 0;
  }

  li {
    padding: 7px 0;
    @include mq(phone){
      display: inline-block;
      width: 47%;
    }
    @include mq(tablet){
      display: inline-block;
      width: auto;
      &:not(:last-child):after{
        content: "/";
        color: $white;
        margin: 0 10px;
      }
    }
  }

  a {
    font-size: 13px;
    transition: color 0.4s ease;
    &:hover{
      color: $darkblack;
    }
  }
}
