// 1.Config


// 2.Base

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: $sky-blue;
  height:  $header-height;
  z-index: 20;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  @include transition(all .2s linear);
  @include mq(tablet) {
  }

}
.site-name {
  width: 90px;
  height: 35px;
  float: left;
  margin: 9px 0 0;
  background-size: contain;
  object-fit: contain;
  text-indent: -99999px;
  background-image: url($url + '/logo.svg');
  @include mq(tablet) {

  }
}

/* Header Case */
.header {
  .grid_12 {
    padding-right: 0;
  }
}
