
//To Edge

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.btn-pink {
		display: table-cell;
	}
  .l-block_flex{
    dispaly: table-cell!important;
    .l-block_flex__content{
      float: right;
      width: 50%;
    }
    .l-block_flex__img{
      float: left;
      height: 300px;
      width: 300px;
      img {
       height: 100%;
      }
    }
    .l-block_flex__btn{
      clear: both;
      float: right;
      display: table;
      width:40%;
      margin-right: 90px;
    }
  }
}


//To target IE 8, 9 and 10
@media screen\0 {
  .l-blocks-save,
  .l-blocks-quote {
    display: block;
    padding: 110px 0;
    img {
      margin: 0 auto;
      display:  block;
    }
  }
  .btn-pink {
		display: table-cell;
	}
  .l-block_flex{
    dispaly: table-cell!important;
    .l-block_flex__content{
      float: right;
      width: 50%;
    }
    .l-block_flex__img{
      float: left;
      height: 300px;
      width: 300px;
      img {
       height: 100%;
      }
    }
    .l-block_flex__btn{
      clear: both;
      float: right;
      display: table;
      width:40%;
      margin-right: 90px;
    }
  }
}

//To target IE 6 and 7
@media screen\9 {
}
