// 1.Config

//$accordion-bgcolor: $gray !default;

// 2.Base

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}


body {
  background: $aqua-blue;
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $black;
  font-style: $body-font-style;

}

p {
  margin: 15px 0 0;

  &:first-child {
    margin-top: 0;
  }
}

b, strong {
  font-weight:  500;
}

a {
  color: $link-color;
  text-decoration: none;
}

.sup {
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: $font-multi;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 1.06;
  text-align: center;
  color: $white;
  text-transform: uppercase;
    @include mq(tablet){
      font-size: 33px;
    }
    @include mq(desktop){
      font-size: 35px;
    }


}

h3{
  font-family: $font-montserrat;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1.06;
  color: $darkblack;
  @include mq(tablet){
    font-size: 40px;
  }

}

h4{
  font-weight: 500;
  color: $white;
  letter-spacing:  -0.5px;
  font-size: 18px;
  @include mq(tablet){
    font-size: 22px;
  }
  @include mq(desktop){
    font-size: 25px;
  }
  b {
    letter-spacing: 0.2px;
    color: $black;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 14px;
    @include mq(tablet){
      font-size: 18px;
    }
    @include mq(desktop){
      font-size: 20px;
    }
  }
}

h5 {
  font-family: $font-montserrat;
  font-size: 40px;
  font-weight: 700;
  color: #c6f0f7;
  text-align: center;
    @include mq(tablet){
      font-size: 90px;
    }

  span {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: $white;
      @include mq(tablet){
        font-size: 40px;
      }

  }
}

h6 {
  font-family: $font-montserrat;
  font-size: 24px;
  color: $white;
  font-weight: 500;
  letter-spacing: 0.8;
}
